#menubar {
    .menulist{
        margin-left:$base-distance*2;
        padding:0;
        .menuitem{
            
             display:inline;
             border:1px solid darken($foreground-color, 50%);
             padding: $base-distance;
             background-color: darken($foreground-color, 75%);
             
             &:hover {
                    background-color:$highlight-color;
                    cursor:pointer;                    
            }
        }       
    }
}