.content,
#app {
    height: 100%;
}

    #app .win-splitviewpanetoggle {
        float: left;
    }

    /* SplitView pane content style*/
    #app .header {
        white-space: nowrap;
    }

    #app .title {
        font-size: 25px;
        left: 50px;
        margin-top: 6px;
        vertical-align: middle;
        display: inline-block;
    }

    #app .nav-commands {
        margin-top: 20px;
    }

.win-splitviewcommand-button {
    background-color: transparent;
}

#app .win-splitview-pane-closed .win-splitviewcommand-label {
    /*  Make sure pane content doesn't scroll if 
    SplitViewCommand label receives focus while pane is closed.
    */
    visibility: hidden;
}

/*SplitView content style*/
#app .win-splitview-content {
    background-color: $background-color;
}

#app .contenttext {
    margin-left: 20px;
    margin-top: 6px;
}

#tracks {
    flex-grow: 1;
    flex-shrink: 0;
    width: 80%;
      position:relative;
}

#track-properties{
    flex-grow: 1;
    min-width: 25%;
}

#global-mixer{
    flex-grow: 1;
     min-width: 25%;
}

.panel-layout{
    height: 90%;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;

    .panel {
        margin: $base-distance;
        border: 1px solid darken($foreground-color, 50%);
        border-radius: $base-distance;
        padding: $base-distance*2;
    }
}
